extends ./layout
block body
  #triplist
    h1  Trip List

    each trip in results
      div.directions
        span= trip.departure + ' - ' + trip.arrival
      div.driver
        span= trip.driver + ' ' + trip.driver.lastname
      div.infos
        span= trip.date
        span= trip.nPlace
      div.price= trip.price


